<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Испытание:
        {% if trials.sample.sample_material.name %}
            {{ trials.sample.sample_material.name }}
        {% endif %}
        {% if trials.sample.sample_material.type %}
            {{ trials.sample.sample_material.type }}
        {% endif %}
        {% if trials.sample.method %}
            {{ trials.sample.method }}
        {% endif %}
        {% if trials.sample.marking %}
            {{ trials.sample.marking }}
        {% endif %}
    </div>
    <div class='content'>
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <img src="{{ trials.sample.get_image }}">
                </div>
                <div class="content">
                    <div class="ui list">
                        {% if trials.size_particle %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Размер частиц:</div>
                                <div class="thirteen wide column">{{ trials.size_particle }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.speed_collision %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Скорость соударения:</div>
                                <div class="thirteen wide column">{{ trials.speed_collision }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.add_param %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Дополнительные параметры:</div>
                                <div class="thirteen wide column">{{ trials.add_param }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.corner_collision %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Угол соударения:</div>
                                <div class="thirteen wide column">{{ trials.corner_collision }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.date_trials %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Дата начала испытаний:</div>
                                <div class="thirteen wide column">{{ trials.date_trials }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.date_end_trials %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Дата окончания испытаний:</div>
                                <div class="thirteen wide column">{{ trials.date_end_trials }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.type_particle %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Тип частиц:</div>
                                <div class="thirteen wide column">{{ trials.type_particle }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.description %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Описание параметров работы стенда:</div>
                                <div class="thirteen wide column">{{ trials.description }}</div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Образец:</div>
                                <div class="thirteen wide column">{{ trials.sample }}</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="id_graph"></div>
    </div>
    <div class="actions">
        <div class="ui grid column">
            <div class="column row">
                <div class="right floated column">
                    <form action="{% url 'trial:update' trials.pk  %}">
                        <button type="submit" class="ui right floated positive button">Редактировать</button>
                    </form>
                    <form action="{% url 'trial:detail' trials.pk  %}">
                        <button type="submit" class="ui right floated positive button">"Эксперементы"</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
            <script>
            fetch('/trial/8/get_graph')
              .then(response => response.text())
              .then(data => {
                $('#id_graph').html(data);
              });
            </script>
{% endblock scripts %}
