{% extends 'index.html' %}

{% block title %}
  Trials
{% endblock %}

{% block search %}
    {% include 'Trial/includes/search.html' %}
{% endblock %}

{% block content %}
{% include 'Trial/trial_table.html' %}

<div class="ui orange segment" id="id_segment_select_table">
    <div class="ui grid">
        <div class="six wide column">
            <h3 class="ui header">Таблица выбранных испытаний</h3>
        </div>
        <div class="ten wide column">
            <button class="ui button disabled" id="id_btn_detail" style="display: none;">
                <i class="exclamation icon"></i>
                Детально
            </button>
            <button class="ui button disabled" id="id_btn_experiment" style="display: none;">
            <i class="flask icon"></i>
                Эксперименты
            </button>
        </div>
    </div>

    <div class="ui visible info message" id="id_message_table_select">
            <p>Здесь будут отображаться выбранные вами испытания!</p>
        </div>
        <br>
    <div class="sixteen wide column">
        <div class="select table">
            <table hidden class="ui celled striped table green compact selectable" style="width:100%" id="trial_table_select">
                <thead>
                <tr>
                    <th>Размер частиц</th>
                    <th>Скорость соударения</th>
                    <th>Дополнительные параметры</th>
                    <th>Угол соударения</th>
                    <th>Дата начала испытаний</th>
                    <th>Дата окончания испытаний</th>
                    <th>Тип частиц</th>
                    <th>Описание параметров работы стенда</th>
                    <th>Образец</th>
                     <th>
                        <div class="ui checkbox all" id="id_checkbox_all_select">
                            <input type="checkbox" name="checkbox_all_select">
                            <label></label>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script>

    click_btn('trial_table_select');
    click_all_checkbox('trial_table_select');

</script>
{% endblock scripts %}

