{% extends 'index.html' %}

{% block content %}
<form method="post" class="ui form" style="margin-top: 55px;">
{% csrf_token %}
    <div class="ui orange segment" id="segment_create_trial">
        <h3 class="ui dividing header">Изменение испытания образца {{ trials.sample }}</h3>

        <div class="three fields">
            <div class="field">
                <label for="id_size_particle">Размер частицы</label>
                <input type="text" placeholder="Введите данные" name="size_particle" id="id_size_particle"
                value="{% if trials.size_particle %}{{ trials.size_particle }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_speed_collision">Cкорость соударения</label>
                <input type="text" placeholder="Введите данные" name="speed_collision" id="id_speed_collision"
                value="{% if trials.speed_collision %}{{ trials.speed_collision }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_corner_collision">Угол соударения</label>
                <input type="text" placeholder="Введите данные" name="corner_collision" id="id_corner_collision"
                value="{% if trials.corner_collision %}{{ trials.corner_collision }}{% endif %}">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="id_flow_type">Тип потока</label>
                <input type="text" placeholder="Введите данные" name="flow_type" id="id_flow_type"
                value="{% if trials.flow_type %}{{ trials.flow_type }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_chamber_pressure">Давление в камере</label>
                <input type="text" placeholder="Введите данные" name="chamber_pressure" id="id_chamber_pressure"
                value="{% if trials.chamber_pressure.value %}{{ trials.chamber_pressure.value }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_sample_temp">Температура образца</label>
                <input type="text" placeholder="Введите данные" name="sample_temp" id="id_sample_temp"
                value="{% if trials.sample_temp %}{{ trials.sample_temp }}{% endif %}">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="id_abrasive_type">Тип абразива</label>
                <input type="text" placeholder="Введите данные" name="abrasive_type" id="id_abrasive_type"
                value="{% if trials.abrasive_type %}{{ trials.abrasive_type }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_air_consumption">Расход воздуха</label>
                <input type="text" placeholder="Введите данные" name="air_consumption" id="id_air_consumption"
                value="{% if trials.air_consumption %}{{ trials.air_consumption }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_abrasive_consumption">Расход абразива</label>
                <input type="text" placeholder="Введите данные" name="abrasive_consumption" id="id_abrasive_consumption"
                value="{% if trials.abrasive_consumption %}{{ trials.abrasive_consumption }}{% endif %}">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="id_nozzle_diam">Диаметр сопла</label>
                <input type="text" placeholder="Введите данные" name="nozzle_diam" id="id_nozzle_diam"
                value="{% if trials.nozzle_diam %}{{ trials.nozzle_diam }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_distance_sub">Расстояние от сопла до образца</label>
                <input type="text" placeholder="Введите данные" name="distance_sub" id="id_distance_sub"
                value="{% if trials.distance_sub %}{{ trials.distance_sub }}{% endif %}">
            </div>
            <div class="field">
                <label for="id_droplets_distance">{{ form.droplets_distance.label }}</label>
                <input type="text" name="droplets_distance" id="id_droplets_distance" placeholder="Введите данные"
                value="{{ form.droplets_distance.value }}">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="id_sample_density">{{ form.sample_density.label }}</label>
                <input type="text" name="sample_density" id="id_sample_density" placeholder="Введите данные"
                value="{{ form.sample_density.value }}">
            </div>
            <div class="field">
                <label for="id_water_density">{{ form.water_density.label }}</label>
                <input type="text" name="water_density" id="id_water_density" placeholder="Введите данные"
                value="{{ form.water_density.value }}">
            </div>
            <div class="field">
                <label for="id_sample_erosion_height">{{ form.sample_erosion_height.label }}</label>
                <input type="text" name="sample_erosion_height" id="id_sample_erosion_height" placeholder="Введите данные"
                value="{{ form.sample_erosion_height.value }}">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="id_number_of_droplet_flow">{{ form.number_of_droplet_flow.label }}</label>
                <input type="text" name="number_of_droplet_flow" id="id_number_of_droplet_flow" placeholder="Введите данные"
                value="{{ form.number_of_droplet_flow.value }}">
            </div>
            <div class="field">
                <label for="id_samples_distance_diameter">{{ form.samples_distance_diameter.label }}</label>
                <input type="text" name="samples_distance_diameter" id="id_samples_distance_diameter" placeholder="Введите данные"
                value="{{ form.samples_distance_diameter.value }}">
            </div>
            <div class="field">
                <label for="id_type_particle">Тип частиц</label>
                <input type="text" placeholder="Введите данные" name="type_particle" id="id_type_particle"
                value="{% if trials.type_particle %}{{ trials.type_particle }}{% endif %}">
            </div>
        </div>


            <div class="field">
                <label for="id_add_param">Параметры</label>
                <input type="text" placeholder="Введите данные" name="add_param" id="id_add_param"
                value="{% if trials.add_param %}{{ trials.add_param }}{% endif %}">
            </div>

        <div class="two fields">
            <div class="field">
                <label for="id_date_trials">Дата начала испытаний</label>
                <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Выберите дату" name="date_trials" id="id_date_trials"
                        value="{% if trials.date_trials %}{{ trials.date_trials }}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="id_date_end_trials">Дата окончания испытаний</label>
                <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Выберите дату" name="date_end_trials" id="id_date_end_trials"
                        value="{% if trials.date_end_trials %}{{ trials.date_end_trials }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label for="id_description">Описание параметров работы стенда</label>
            <textarea type="text" placeholder="" name="description" id="id_description">{% if trials.description %}{{ trials.description }}{% endif %}
            </textarea>
        </div>

        <div class="three fields">
            <div class="field">
                <label>Образец</label>
                <select name="sample" class="ui fluid search dropdown" id="id_sample">
                    {% for value in sample %}
                        <option {% if value.id == trials.sample.id %}selected{% endif %} value="{{ value.id }}" id="id_sample_{{ value.id }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field" style="display: none;">
                {{ form.author }}
            </div>
        </div>

    <div class="ui aligned grid">
        <div class="right aligned sixteen wide column">
            <button class='ui red button' formaction="{% url 'trial:delete' trials.pk %}" type="submit" value="DELETE">Удалить</button>
            <button class='ui orange button' type="submit" value="Update">Сохранить</button>
        </div>
    </div>



    </div>
</form>
{% endblock content %}

{% block scripts %}
<script>

$('.ui.form')
    .form({
        on: 'blur',
        inline : true,
        fields: {
            size_particle: {
                identifier: 'size_particle',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            speed_collision: {
                identifier: 'speed_collision',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            corner_collision: {
                identifier: 'corner_collision',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            sample: {
                identifier: 'sample',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле! Выберите образец'
                    },
                ]
            },
        }
    });

$('#rangestart').calendar({
    type: 'date',
    centuryBreak: 0,
    formatter: {
        date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        }
    },
    endCalendar: $('#rangeend')
});

$('#rangeend').calendar({
    type: 'date',
    centuryBreak: 0,
    formatter: {
        date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        }
    },
    startCalendar: $('#rangestart')
});

$(' .ui.dropdown')
  .dropdown({
    allowAdditions: true
  })
;

</script>
{% endblock scripts %}

