{% extends 'index.html' %}

{% block content %}
<form method="post" class="ui form" style="margin-top: 55px;">
{% csrf_token %}
    <div class="ui orange segment" id="segment_create_trial">
        <h3 class="ui dividing header">Создание испытания</h3>
        <div class="three fields">
            <div class="field">
                <label for="id_size_particle">{{ form.size_particle.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="size_particle" id="id_size_particle">
            </div>
            <div class="field">
                <label for="id_speed_collision">{{ form.speed_collision.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="speed_collision" id="id_speed_collision">
            </div>
            <div class="field">
                <label for="id_corner_collision">{{ form.corner_collision.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="corner_collision" id="id_corner_collision">
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label for="id_flow_type">{{ form.flow_type.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="flow_type" id="id_flow_type">
            </div>
            <div class="field">
                <label for="id_chamber_pressure">{{ form.chamber_pressure.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="chamber_pressure" id="id_chamber_pressure">
            </div>
            <div class="field">
                <label for="id_sample_temp">{{ form.sample_temp.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="sample_temp" id="id_sample_temp">
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label for="id_abrasive_type">{{ form.abrasive_type.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="abrasive_type" id="id_abrasive_type">
            </div>
            <div class="field">
                <label for="id_air_consumption">{{ form.air_consumption.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="chamber_pressure" id="id_air_consumption">
            </div>
            <div class="field">
                <label for="id_abrasive_consumption">{{ form.abrasive_consumption.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="abrasive_consumption" id="id_abrasive_consumption">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="id_nozzle_diam">{{ form.nozzle_diam.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="nozzle_diam" id="id_nozzle_diam">
            </div>
            <div class="field">
                <label for="id_distance_sub">{{ form.distance_sub.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="distance_sub" id="id_distance_sub">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="id_type_particle">{{ form.type_particle.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="type_particle" id="id_type_particle">
            </div>
            <div class="field">
                <label for="id_add_param">{{ form.add_param.label_tag }}</label>
                <input type="text" placeholder="Введите данные" name="add_param" id="id_add_param">
            </div>
        </div>

        <h3 class="ui dividing header">Дополнительные параметры</h3>

        <div class="two fields">
            <div class="field">
                <label for="id_droplets_distance">{{ form.droplets_distance.label }}</label>
                <input type="text" name="droplets_distance" id="id_droplets_distance" placeholder="Введите данные">
            </div>
            <div class="field">
                <label for="id_sample_density">{{ form.sample_density.label }}</label>
                <input type="text" name="sample_density" id="id_sample_density" placeholder="Введите данные">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="id_water_density">{{ form.water_density.label }}</label>
                <input type="text" name="water_density" id="id_water_density" placeholder="Введите данные">
            </div>
            <div class="field">
                <label for="id_sample_erosion_height">{{ form.sample_erosion_height.label }}</label>
                <input type="text" name="sample_erosion_height" id="id_sample_erosion_height" placeholder="Введите данные">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="id_number_of_droplet_flow">{{ form.number_of_droplet_flow.label }}</label>
                <input type="text" name="number_of_droplet_flow" id="id_number_of_droplet_flow" placeholder="Введите данные">
            </div>
            <div class="field">
                <label for="id_samples_distance_diameter">{{ form.samples_distance_diameter.label }}</label>
                <input type="text" name="samples_distance_diameter" id="id_samples_distance_diameter" placeholder="Введите данные">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label for="id_date_trials">{{ form.date_trials.label_tag  }}</label>
                <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Выберите дату" name="date_trials" id="id_date_trials">
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="id_date_end_trials">{{ form.date_end_trials.label_tag  }}</label>
                <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Выберите дату" name="date_end_trials" id="id_date_end_trials">
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="ui message info visible">
            <div class="header">Информация по полю "Образец"</div>
            <p>Если в поле <b>нет результатов</b> или <b>нет необходимого образца</b>,
                нужно создать образец для которого данное испытание проводится!
                <b><a href="{% url 'sample:create' %}">--Создать образец--</a></b>
            </p>

        </div>

        <div class="three fields">
            <div class="field">
                <label>{{ form.sample.label_tag  }}</label>
                    <select name="sample" class="ui fluid search dropdown" id="id_sample">
                        {% for value in form.sample %}
                            <option value="{{ value.id }}" id="id_sample_{{ value.id }}">{{ value }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <button class='ui orange button' type="submit" value="Save">Сохранить</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
<script>

$('.ui.form')
    .form({
        on: 'blur',
        inline : true,
        fields: {
            size_particle: {
                identifier: 'size_particle',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            speed_collision: {
                identifier: 'speed_collision',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            corner_collision: {
                identifier: 'corner_collision',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            sample: {
                identifier: 'sample',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле! Выберите образец'
                    },
                ]
            },
        }
    });

$('#rangestart').calendar({
    type: 'date',
    centuryBreak: 0,
    formatter: {
        date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        }
    },
    endCalendar: $('#rangeend')
});

$('#rangeend').calendar({
    type: 'date',
    centuryBreak: 0,
    formatter: {
        date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        }
    },
    startCalendar: $('#rangestart')
});

$(' .ui.dropdown')
  .dropdown({
    allowAdditions: true
  })
;

</script>
{% endblock scripts %}

