<div class="ui modal">
    <div class='content'>
        <h3 class="ui dividing header">Испытание {{ trials.pk }}</h3>
        <div class="ui list">
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Размер частиц:</div>
                    <div class="thirteen wide column">{{ trials.size_particle }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Скорость соударения:</div>
                    <div class="thirteen wide column">{{ trials.speed_collision }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Дополнительные параметры:</div>
                    <div class="thirteen wide column">{{ trials.add_param }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Угол соударения:</div>
                    <div class="thirteen wide column">{{ trials.corner_collision }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Дата начала испытаний:</div>
                    <div class="thirteen wide column">{{ trials.date_trials }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Дата окончания испытаний:</div>
                    <div class="thirteen wide column">{{ trials.date_end_trials }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Тип частиц:</div>
                    <div class="thirteen wide column">{{ trials.type_particle }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Описание параметров работы стенда:</div>
                    <div class="thirteen wide column">{{ trials.description }}</div>
                </div>
            </div>
            <div class="item">
                <div class="ui grid">
                    <div class="three wide column">Образец:</div>
                    <div class="thirteen wide column">{{ trials.sample }}</div>
                </div>
            </div>
            <br>
        </div>
        <div class="actions">
            <div class="ui grid column">
                <div class="column row">
                    <div class="right floated column">
                        <form action="{% url 'trial:update' trials.pk  %}">
                            <button type="submit" class="ui right floated positive button">Редактировать</button>
                        </form>
                        <form action="{% url 'trial:detail' trials.pk  %}">
                            <button type="submit" class="ui right floated positive button">"Эксперементы"</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

