<tr id="tr_select_{{ trials.id }}" name="id_sample_{{ trials.sample_id }}">
    <td>{{ trials.size_particle}}</td>
    <td>{{ trials.speed_collision }}</td>
    <td>{{ trials.add_param }}</td>
    <td>{{ trials.corner_collision }}</td>
    <td>{{ trials.date_trials }}</td>
    <td>{{ trials.date_end_trials }}</td>
    <td>{{ trials.type_particle }}</td>
    <td>{{ trials.description }}</td>
    <td>{{ trials.sample }}</td>
    <td class="collapsing">
        <div class="ui checkbox" id="select_checkbox_{{ trials.id }}">
            <input type="checkbox">
            <label></label>
        </div>
    </td>
</tr>