{% extends 'index.html' %}

{% block content %}
<div class="ui orange clearing segment" style="margin-top: 55px;">
    <h3 class="ui dividing header">Испытание {{ trials.pk }}</h3>
    <div class="ui list">
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Размер частиц:</div>
                <div class="thirteen wide column">{{ trials.size_particle }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Скорость соударения:</div>
                <div class="thirteen wide column">{{ trials.speed_collision }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дополнительные параметры:</div>
                <div class="thirteen wide column">{{ trials.add_param }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Угол соударения:</div>
                <div class="thirteen wide column">{{ trials.corner_collision }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дата начала испытаний:</div>
                <div class="thirteen wide column">{{ trials.date_trials }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дата окончания испытаний:</div>
                <div class="thirteen wide column">{{ trials.date_end_trials }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Тип частиц:</div>
                <div class="thirteen wide column">{{ trials.type_particle }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Описание:</div>
                <div class="thirteen wide column">{{ trials.description }}</div>
            </div>
        </div>
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Образец:</div>
                <div class="thirteen wide column">{{ trials.sample }}</div>
            </div>
        </div>
        <br>
        <form action="{% url 'trial:update' trials.pk %}">
            <button class="ui right floated button">Изменить</button>
        </form>
    </div>  
</div>

<div class="ui orange clearing segment">
    <h3 class="ui header">Испытание {{ trials.pk }}</h3>
    <table class="ui definition table">
    <tbody>
        <tr>
        <td class="two wide column">Размер частиц:</td>
        <td>{{ trials.size_particle }}</td>
        </tr>
        <tr>
        <td>Скорость соударения:</td>
        <td>{{ trials.speed_collision }}</td>
        </tr>
        <tr>
        <td>Дополнительные параметры:</td>
        <td>{{ trials.add_param }}</td>
        </tr>
        <tr>
        <td>Угол соударения:</td>
        <td>{{ trials.corner_collision }}</td>
        </tr>
        <tr>
        <td>Дата начала испытаний:</td>
        <td>{{ trials.date_trials }}</td>
        </tr>
        <tr>
        <td>Дата окончания испытаний:</td>
        <td>{{ trials.date_end_trials }}</td>
        </tr>
        <tr>
        <td>Тип частиц:</td>
        <td>{{ trials.type_particle }}</td>
        </tr>
        <tr>
        <td>Описание:</td>
        <td>{{ trials.description }}</td>
        </tr>
        <tr>
        <td>Образец:</td>
        <td>{{ trials.sample }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <form action="{% url 'trial:update' trials.pk %}">
        <button class="ui right floated blue button">Изменить</button>
    </form>
</div>
{% endblock content %}