{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="ui orange clearing segment" style="margin-top: 55px;">
    <h3 class="ui dividing header">Испытание образца {{ trials.sample }}</h3>
    <div class="ui list">
    {% if  trials.size_particle %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Размер частиц:</div>
                <div class="thirteen wide column">{{ trials.size_particle }}</div>
            </div>
        </div>
    {% endif %}
    {% if  trials.speed_collision %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Скорость соударения:</div>
                <div class="thirteen wide column">{{ trials.speed_collision }}</div>
            </div>
        </div>
    {% endif %}
    {% if  trials.add_param %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дополнительные параметры:</div>
                <div class="thirteen wide column">{{ trials.add_param }}</div>
            </div>
        </div>
    {% endif %}
    {% if  trials.corner_collision %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Угол соударения:</div>
                <div class="thirteen wide column">{{ trials.corner_collision }}</div>
            </div>
        </div>
    {% endif %}
        {% if trials.flow_type %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Тип потока:</div>
                                <div class="thirteen wide column">{{ trials.flow_type }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.chamber_pressure %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Давление в камере:</div>
                                <div class="thirteen wide column">{{ trials.chamber_pressure }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.sample_temp %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Температура образца:</div>
                                <div class="thirteen wide column">{{ trials.sample_temp }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.abrasive_type %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Тип абразива:</div>
                                <div class="thirteen wide column">{{ trials.abrasive_type }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.air_consumption %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Расход воздуха:</div>
                                <div class="thirteen wide column">{{ trials.air_consumption }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.abrasive_consumption %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Расход абразива:</div>
                                <div class="thirteen wide column">{{ trials.abrasive_consumption }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.nozzle_diam %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Диаметр сопла:</div>
                                <div class="thirteen wide column">{{ trials.nozzle_diam }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trials.distance_sub %}
                        <div class="item">
                            <div class="ui grid">
                                <div class="three wide column">Расстояние от сопла до образца:</div>
                                <div class="thirteen wide column">{{ trials.distance_sub }}</div>
                            </div>
                        </div>
                        {% endif %}
        {% if trials.date_trials %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дата начала испытаний:</div>
                <div class="thirteen wide column">{{ trials.date_trials }}</div>
            </div>
        </div>
        {% endif %}
        {% if trials.date_end_trials %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Дата окончания испытаний:</div>
                <div class="thirteen wide column">{{ trials.date_end_trials }}</div>
            </div>
        </div>
        {% endif %}
        {% if trials.type_particle %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Тип частиц:</div>
                <div class="thirteen wide column">{{ trials.type_particle }}</div>
            </div>
        </div>
        {% endif  %}
        {% if trials.description %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Описание:</div>
                <div class="thirteen wide column">{{ trials.description }}</div>
            </div>
        </div>
        {% endif %}
        <div class="item">
            <div class="ui grid">
                <div class="three wide column">Образец:</div>
                <div class="thirteen wide column">{{ trials.sample }}</div>
            </div>
        </div>
    {% if plot_div %}
        <div class="content">
            <div style="width:600px;height:500px">
                    {{ plot_div|safe }}
            </div>
        </div>
    {% endif %}

        <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <form action="{% url 'trial:update' trials.pk %}">
                    <button class="ui orange floated button">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ui orange clearing segment">
    <h3 class="ui dividing header">Эксперименты</h3>
    <div class="sixteen wide column">
        <div class="select table">
            <table class="ui celled striped table green compact selectable" id="experiments_table">
                <thead>
                    <tr>
                        <th>Изменение массы за время испытания</th>
                        <th>Время испытания</th>
                        <th>Потеря массы</th>
                    </tr>
                </thead>
                <tbody id='experiments_table_body'>
                    {% for experiment in trials.experiments %}
                    <tr id='{{ experiment.pk }}'>
                        <td>{{ experiment.change_weight }}</td>
                        <td>{{ experiment.time_trials }}</td>
                        <td>{{ experiment.weight_loss }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="ui aligned grid">
        <div class="right aligned sixteen wide column">
            <div class="ui orange right floated buttons">
                <div class="ui button" id='experiment_action_btn'><i class="edit icon"></i>Изменить</div>
                <div class="ui combo top right pointing dropdown icon button">
                <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><i class="edit icon"></i>Изменить</div>
                        <div class="item"><i class="delete icon"></i>Удалить</div>
                        <div class="item"><i class="pen icon"></i>Создать</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui orange segment">
<h3 class="ui dividing header">Изображения экспериментов</h3>
<div class="ui link seven cards">
    <div class="ui centered card">
        <div class="image">
            <img class="ui medium rounded image" src="{{ trials.sample.get_image }}" style="height: 160px; !important;">
        </div>
        <div class="content center aligned">
            <div class="header">0</div>
        </div>
    </div>
    {% for experiment in trials.experiments %}
        {% if  experiment.image %}
            <div class="ui centered card">
                <div class="image">
                <img class="ui medium rounded image" src="{{ experiment.image.url }}" style="height: 160px; !important;">
                </div>
                <div class="content center aligned">
                    <div class="header">{{ experiment.time_trials }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

    </div>
</div>

<div class="ui modal delete experiment">
  <i class="close icon"></i>
  <div class="header">
    Удалить эксперимент
  </div>
  <div class="content">
    <div class="description">
      <p>Вы уверены что хотите удалить этот эксперимент?</p>
    </div>
  </div>
  <div class="actions">
      <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <div class="ui negative button">
                    Нет
                </div>
                <button id="id_btn_modal_delete_exp" type="submit" class="ui positive button right labeled icon">
                    Да
                <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>

$(document).ready(function() {
        $('#experiments_table').DataTable({
            order: [[ 1, "asc" ]]
        });
    });

var token = '{{csrf_token}}';

$('.combo.dropdown')
  .dropdown({
    action: 'combo'
  })
;

function show_update_experiment_modal(checked_experement_pk){
    $.ajax({
        url: "{% url 'trial:update_experiment' 0 %}".replace(0, checked_experement_pk),
        type: "get",
        success: function(data){
            $(data).modal().modal('show');
        }
    })
};

function show_save_experiment_modal(checked_experement_pk){
    $.ajax({
        url: "{% url 'trial:create_experiment' 0 %}".replace(0, checked_experement_pk),
        type: "get",
        success: function(data){
            $(data).modal().modal('show');
        }
    })
};

function ajax_download_experement_table(){ // Получаю список эксперементов, текущего испытания. Переписываю tbody в таблице эксперементов
    $.ajax({
        url: 'experement_list/',  // <int:pk>/experement_list/ - url где pk это primary key от Trial
        type: 'get',
        success: function(data){
            $('#experiments_table_body').html(data); // Переписываю содержимое tbody
            window.onload = addRowHandlers();
        }
    });
};

function ajax_delete_experiment(){
    $.ajax({
            headers: { "X-CSRFToken": token },
            url: "{% url 'trial:delete_experiment' 0 %}".replace(0, checked_experement_pk),
            type: 'post',
            success: function(data)
            {
                ajax_download_experement_table();
            }
        });
}

$('#id_btn_modal_delete_exp').on('click', function () {
        ajax_delete_experiment();
})

$('#experiment_action_btn').click(function () {
    let btn_text = this.innerText;
    if (btn_text =='Удалить'){
        $('.ui.modal.delete.experiment').
            modal('show');
    }
    else if(btn_text === "Изменить"){
        $('#id_experiment_modal').remove();
        show_update_experiment_modal(checked_experement_pk);
    }
    else if(btn_text === "Создать"){ // создаю модальное окно, с формой для создания эксперемента
        $('#id_experiment_modal').remove();
        show_save_experiment_modal('{{ trials.pk }}');
    }
});

var checked_experement_pk=null;

function addRowHandlers() {
    var table = document.getElementById("experiments_table");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
        var currentRow = table.rows[i];
        var createClickHandler =
            function(row){
                return function() {
                    if (checked_experement_pk==row.id){
                        $(`#${checked_experement_pk}`).removeAttr('class');
                        checked_experement_pk=null;
                        }
                    else{
                        $(`#${checked_experement_pk}`).removeAttr('class');
                        $(`#${row.id}`).attr('class', 'green');
                        checked_experement_pk=row.id;
                        }
                    };
            };
        currentRow.onclick = createClickHandler(currentRow);
    }
}
window.onload = addRowHandlers();
</script>
{% endblock scripts %}

