<div class="ui orange segment" id="form_search" style="margin-top: 55px;">

    <h3 class="ui header">Выберите параметры поиска</h3>
    <h4 class="ui dividing header">Данные базы данных</h4>
    <div class="ui form">
        <div class="fields three">
            <div class="field">
                <label>Способ упрочнения</label>
                <div class="ui fluid multiple search normal selection dropdown" name="method">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Способ упрочнения</div>
                    <div class="menu">
                        {% for name in method %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}">
                                    {{ name }}
                                </div>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Параметры воздействия</label>
                <div class="ui fluid multiple search normal selection dropdown" name="exp_param">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Параметры воздействия</div>
                    <div class="menu">
                        {% for name in exp_param %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Дата проведения опыта</label>
                <div class="ui fluid multiple search normal selection dropdown" name="date_proc_streng">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Дата проведения опыта</div>
                    <div class="menu">
                        {% for name in date_proc_streng %}
                            {% if name %}
                                <div class="item" data-value="{{ name|date:'Y-m-d' }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    <h4 class="ui dividing header">Дополнительные фильтры</h4>
            <div class="field">
                <div class="ui labeled icon top left pointing dropdown button" name="date">
                  <i class="filter icon"></i>
                  <span class="text">По дате</span>
                  <div class="menu">
                    <div class="item" data-value="7">
                      <i class="olive circle icon"></i>
                      За неделю
                    </div>
                    <div class="item" data-value="30">
                      <i class="violet circle icon"></i>
                      За месяц
                    </div>
                    <div class="item" data-value="365">
                      <i class="orange circle icon"></i>
                      За год
                    </div>
                    <div class="item" data-value="all">
                      <i class="green circle icon"></i>
                      За все время
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>


<script>

    const search_list = {};

    const dimmer = $('<div class="ui active inverted dimmer" id="id_dimmer_sample">' +
        '<div class="ui active green inline slow text loader">' +
        'Загрузка</div></div>')

    $('.ui.pointing.dropdown')
    .dropdown({
        onChange: function(value, text, $selectedItem){
                search_list['date'] = value;
                ajax_get_table();
            }
        }
    )

    function ajax_get_table(){
        $.ajax({
                  type: "GET",
                  url: "/sample/table",
                  data: {
                      'search': JSON.stringify(search_list),
                  },
                  success: function(msg){
                      $("#segment_table").replaceWith(msg);
                      {# Выставляю в пришедщей таблице checked на элементы которые были выбраны до этого #}
                      if (select_sample) {
                          for (let i in select_sample) {
                                let checkbox = $('#' + select_sample[i])
                                checkbox.children('input').attr('checked', 'checked');
                          }
                      }
                  }
                });
    }

    $('.ui.normal.dropdown')
      .dropdown({
          onChange: function(value, text, $selectedItem) {
              $('#segment_table').append(dimmer);
              const name_dropdown = $(this).closest('.ui.normal.dropdown').attr('name');
              {# Записываю выбранный элемент в список для поиска если элемент удален то удаляю его из списка #}
              search_list[name_dropdown + '__in'] = value.split(',');
              if (value === ''){
                  delete search_list[name_dropdown + '__in'];
              }
              ajax_get_table();
          },
      });

</script>