<div class="ui orange segment" id="segment_table">

    <h3 class="ui header">Таблица образцов</h3>
    <table class="ui celled striped table green compact" style="width:100%" id="sample_table">
        <thead>
        <tr>
            <th>Материал</th>
            <th>Способ упрочнения</th>
            <th>Параметры воздействия</th>
            <th>Дата упрочнения</th>
            <th>Толщина покрытия</th>
            <th>Шероховатость поверхности</th>
            <th>Твердость покрытия</th>
            <th>Состав покрытия</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sample in object_list %}
            <tr id="tr_{{ sample.id }}"><a href="#">
                <td>{{ sample.sample_material}}</td>
                <td>{{ sample.method }}</td>
                <td>{{ sample.exp_param }}</td>
                <td>{{ sample.date_proc_streng }}</td>
                <td>{{ sample.depth_coating }}</td>
                <td>{{ sample.roughness }}</td>
                <td>{{ sample.hardness_coating }}</td>
                <td>{{ sample.struct_coating }}</td>
            </a>
                <td class="collapsing">
                    <div class="ui toggle checkbox" id="{{ sample.id }}">
                      <input type="checkbox">
                      <label></label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    {# https://datatables.net/ - Примеры таблиц #}
    $(document).ready(function() {
        $('#sample_table').DataTable({

        });
    });

    $(' .checkbox')
        .checkbox({
            onChecked: function(){
                let id_sample = $(this).closest('.checkbox').attr('id'); // Получаем id объекта
                let line_table = $('#tr_' + id_sample).clone(); // Копируем его
                line_table.find('th:last, td:last').remove(); // Удаляем checkbox
                line_table.attr('class', 'select_tr'); // Присваиваем класс новой строке (<tr>)
                line_table.attr('id', 'tr_' + id_sample); // Присваиваем id новой строке (<tr>)
                line_table.bind('click', function(){ // Вешаем обработчик
                    ajax_get_detail_sample(id_sample); //  Обработчик на detail modal sample
                    //location.href = '/sample/' + id_sample; // Обработчик на detail
                });
                // Добавляем в таблицу с выбранными Sample
                $('#sample_table_select > tbody:last-child').append(line_table);
                // Записываем выбранный id, для активации checkbox в таблице sample_table
                // При ее render ajax запросом
                select_sample.push(id_sample);
            },
            onUnchecked: function(){ // При отмене checbox в таблице sample_table удаляем что добавляли
                 let id_sample = $(this).closest('.checkbox').attr('id');
                $('#sample_table_select').find('#tr_' + id_sample ).remove();
                select_sample.splice(select_sample.indexOf(id_sample), 1);
            }
        })

</script>