<div class="field" id="id_material_field">
    <label>Материал</label>
    <div class="ui action input">
        <select name="sample_material" class="ui fluid search dropdown" id="id_sample_material">
        {% for value in material %}
            <option value="{{ value.id }}" data-value="{{ value }}" id="id_item_material{{ value.id }}">{{ value }}</option>
        {% endfor %}
        </select>
        <div class="ui button positive material">Создать</div>
    </div>
</div>

<script>
    $(' .ui.dropdown')
  .dropdown({
        allowAdditions: true,
        monthsShort: true
  });
</script>