<div class="field" id="id_material_field">
    <label>Материал</label>
    <div class="two fields">
        <div class="field">
            <select name="sample_material" class="ui fluid search dropdown" id="id_sample_material">
                {% for value in material %}
                    <option {% if value.id == sample.sample_material.id %}selected{% endif %} value="{{ value.id }}" id="id_item_material{{ value.id }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <div class="ui button positive material" id="id_btn_create_material">Создать</div>
        </div>
    </div>
</div>

<script>
  $(' .ui.dropdown')
  .dropdown({
        allowAdditions: true,
        monthsShort: true
  });

     $('#id_btn_create_material')
        .click(function () {
            ajax_get_modal('{% url 'sample:material_create' %}',
            '{% url 'sample:material' %}', 'material');
        });
</script>