{% extends 'index.html' %}

{% block content %}
<form method="post" class="ui form" style="margin-top: 55px;">
{% csrf_token %}
    <div class="ui orange segment" id="segment_create_sample">
        <h3 class="ui dividing header">Информация по Материалу № {{ object.pk }}</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>

                <div class="field">
                    {{ form.type.label_tag }}
                    {{ form.type }}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
            </div>
        </div>

        <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <button type="submit" class="ui button orange">Сохранить</button>
                <div id="id_delete_material" class='ui red button'>Удалить</div>
            </div>
        </div>

</div>
</form>

<div class="ui modal delete material">
  <i class="close icon"></i>
  <div class="header">
    Удалить материал {{ object.name }} {{ object.type }}
  </div>
  <div class="content">
    <div class="description">
      <p>Вы уверены что хотите удалить этот материал?</p>
    </div>
  </div>
  <div class="actions">
      <form method="post" action="{% url 'sample:material_delete' object.pk %}">
      {% csrf_token %}
      <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <div class="ui negative button">
                    Нет
                </div>
                <button type="submit" class="ui positive button right labeled icon">
                    Да
                <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>

$('#id_delete_material').on('click', function () {
    $('.ui.modal.delete.material').
        modal('show');
});

    $('.ui.form')
    .form({
        on: 'blur',
        inline: true,
        fields: {
            name: {
                identifier: 'name',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле для заполнения!'
                    },
                ]
            },
        }
    });
</script>
{% endblock %}
