<div class="ui modal material" id="id_material_modal">
    <i class="close icon"></i>
    <div class="header">
        Добавить новый материал для образца
    </div>
    <div class="content">
        <form class="ui form" id="id_material_form">
            {% csrf_token %}
            <div class="field">
                <label for="id_name">Название материала</label>
                <input type="text" name="name" id="id_name" placeholder="Название материала">
            </div>
            <div class="field">
                <label for="id_type">Тип материала</label>
                <input type="text" name="type" id="id_type" placeholder="Тип">
            </div>
            <div class="field">
                <label for="id_description">Дополнительное описание</label>
                <textarea type="text" name="description" id="id_description" placeholder="Дополнительное описание">
                </textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red deny button">
            Отмена
        </div>
        <div class="ui positive right labeled icon button">
            Добавить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>