<div class="ui modal sample">
    <i class="close icon"></i>
    <div class="header">
        Тип № {{ object.pk }}
    </div>
    <div class="content">
        <div class="ui list">
            <div class="item">
                <div class="ui grid">
                    <div class="five wide column">Название:</div>
                    <div class="eleven wide column">{{ object.name }}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="actions">
        <div class="ui grid column">
            <div class="column row">
                <div class="right floated column">
                    <form action="{% url 'sample:type_update' object.pk %}">
                        <button type="submit" class="ui right floated positive button">Редактировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

