{% extends 'index.html' %}

{% block title %}
    Тип
{% endblock %}

{% block content %}
    <div class="ui orange segment" style="margin-top: 55px;">

    <h3 class="ui header">Таблица типов</h3>
    <table class="ui celled striped table green compact selectable" style="width:100%" id="id_type_table">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% for value in type %}
            <tr id="{{ value.id }}">
                <td>{{ value.name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#id_type_table').DataTable({
        });
    });

    function ajax_get_detail_material(id_type){
        $.ajax({
            type: 'GET',
            url: '/sample/type/detail/' + id_type,
            success: function (response) {
                $(response)
                .modal('show');
            }
        });
    }

    $( "#id_type_table tbody tr" ).on( "click", function() {
        ajax_get_detail_material($( this ).attr('id'));
});

</script>
{% endblock %}