{% extends 'index.html' %}

{% block content %}
    <div class="ui orange segment" id="segment_create_type_form" style="margin-top: 55px;">
        <h3 class="ui dividing header">Создание типа</h3>
        <form method="post" class="ui form" id="id_type_form">
            {% csrf_token %}
            <div class="field">
                <label for="id_name">Название типа</label>
                <input type="text" name="name" id="id_name" placeholder="Название материала">
            </div>
            <div class="ui aligned grid">
                <div class="right aligned sixteen wide column">
                    <button class='ui orange button' type="submit" value="Save">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.ui.form')
    .form({
        on: 'blur',
        inline: true,
        fields: {
            name: {
                identifier: 'name',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле для заполнения!'
                    },
                ]
            },
        }
    });
</script>
{% endblock %}

