<div class="ui modal type" id="id_type_modal">
    <i class="close icon"></i>
    <div class="header">
        Добавить новый тип для образца
    </div>
    <div class="content">
        <form class="ui form" id="id_type_form">
            {% csrf_token %}
            <div class="field">
                <label for="id_name">Название типа</label>
                <input onkeyup="checkParams()" type="text" name="name" id="id_name" placeholder="Название типа">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red deny button">
            Отмена
        </div>
        <div class="ui button positive right labeled icon create disabled" id="id_btn_create_type">
            Добавить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
    function checkParams(){
        let name = $('#id_name').val();
        if(name.length !== 0){
            $('#id_btn_create_type').attr('class', 'ui button positive right labeled icon create');
        } else {
            $('#id_btn_create_type').attr('class', 'ui button positive right labeled icon create disabled disabled');
        }
    }
</script>