<div class="field" id="id_type_field">
    <label>Тип</label>
    <div class="two fields">
        <div class="field">
            <select name="sample_type" class="ui fluid search dropdown" id="id_sample_type">
                {% for value in type %}
                    <option value="{{ value.id }}" id="id_item_type{{ value.id }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <div class="ui button positive type" id="id_btn_create_type">Создать</div>
        </div>
    </div>
</div>

<script>

    $(' .ui.dropdown')
  .dropdown({
        allowAdditions: true,
        monthsShort: true
  });


  $('#id_btn_create_type')
        .click(function () {
            ajax_get_modal('{% url 'sample:type_create' %}',
            '{% url 'sample:type' %}', 'type');
        });
</script>