{% extends 'index.html' %}

{% block title %}
    Sample
{% endblock %}

{% block search %}
    {% include 'sample/includes/search.html' %}
{% endblock %}

{% block content %}
    {% include 'sample/includes/table.html' %}

    <div class="ui orange segment" id="id_segment_select_table">
        <div class="ui grid">
            <div class="six wide column">
                <h3 class="ui header">Таблица выбранных образцов</h3>
            </div>
            <div class="ten wide column">
                <button class="ui button disabled" id="id_btn_detail"  style="display: none;">
                    <i class="exclamation icon"></i>
                    Детально
                </button>
                <button class="ui button disabled" id="id_btn_compare_graphs" style="display: none;">
                    <i class="chart line icon"></i>
                    Сравнить
                </button>
            </div>
        </div>
        <div class="ui visible info message" id="id_message_table_select">
            <p>Здесь будут отображаться выбранные вами образцы!</p>
        </div>
        <br>
        <div class="sixteen wide column">
                <div class="select table">
                    <table hidden class="ui celled striped table green compact selectable" style="width:100%" id="sample_table_select">
                        <thead>
                        <tr>
                            <th>Материал</th>
                            <th>Маркировка</th>
                            <th>Способ упрочнения</th>
                            <th>Толщина покрытия</th>
                            <th>Шероховатость поверхности</th>
                            <th>Твердость покрытия</th>
                            <th>Состав покрытия</th>
                            <th>
                                <div class="ui checkbox all" id="id_checkbox_all_select">
                                    <input type="checkbox" name="checkbox_all_select">
                                    <label></label>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
click_btn('sample_table_select', "{% url 'trial:compare_graphs' %}?");
click_all_checkbox('sample_table_select');


    function ajax_get_graph(trial_id, sample_id){
        $.ajax({
            type: 'GET',
            url: '/trial/' + trial_id + '/get_graph',
            success: function (response) {
                ajax_get_detail_sample(sample_id, $(response))
            }
        })
    }

    function ajax_get_detail_sample(sample_id, graph){
        $.ajax({
            type: 'GET',
            url: '/sample/detail/' + sample_id,
            success: function (response) {
                $('#id_sample_modal').remove(); // Удаляем модальное окно из кеша
                let modal = $(response);
                modal.find('#id_graph').append(graph);
                modal.modal('show');
                $('#id_dimmer').remove()
            }
        });
    }


</script>

{% endblock %}