{% extends 'index.html' %}

{% block content %}
<form method="post" class="ui form" style="margin-top: 3%;" enctype="multipart/form-data">
{% csrf_token %}
    <div class="ui orange segment" id="segment_create_sample">
        <h3 class="ui dividing header">Информация по упрочнению
            {% if sample.sample_material.name %}
            {{ sample.sample_material.name }}
            {% endif %}
            {% if sample.sample_material.type %}
                {{ sample.sample_material.type }}
            {% endif %}
            {% if sample.modification.method %}
                {{ sample.modification.method }}
            {% endif %}
            {% if sample.marking %}
                {{ sample.marking }}
            {% endif %}
        </h3>
        <div class="field">

            <div class="field" id="id_block_modification">
                {% include 'modification/includes/modification_dropdown.html' with modification=form.modification sample=sample %}
            </div>

            <div class="two fields">
                <div class="field">
                     <label for="id_date_proc_streng">{{ form.date_proc_streng.label_tag }}</label>
                      <div class="ui calendar" id="id_calendar">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" placeholder="Дата процесса упрочнения" name="date_proc_streng" id="id_date_proc_streng"
                          value="{% if form.date_proc_streng.value %}{{ form.date_proc_streng.value }}{% endif %}">
                        </div>
                      </div>
                </div>
            </div>

        </div>

        <h3 class="ui dividing header">Информация по образцу</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="id_weight">{{ form.weight.label_tag }}</label>
                    <div class="ui input">
                      <input placeholder="Первоначальная масса образца" name="weight" id="id_weight"
                      value="{% if form.weight.value %}{{ form.weight.value }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="ui dividing header">Дополнительная информация</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="id_roughness">{{ form.roughness.label_tag }}</label>
                    <div class="ui input">
                      <input placeholder="Шероховатость поверхности" name="roughness" id="id_roughness"
                      value="{% if form.roughness.value %}{{ form.roughness.value }}{% endif %}">
                    </div>
                </div>

                <div class="field">
                    <label for="id_sub_hardness">{{ form.sub_hardness.label_tag }}</label>
                    <div class="ui input">
                      <input placeholder="Твердость подложки" name="sub_hardness" id="id_sub_hardness"
                      value="{% if form.sub_hardness.value %}{{ form.sub_hardness.value }}{% endif %}">
                    </div>
                </div>
            </div>


            <div class="field">
                <label for="id_description">{{ form.description.label_tag }}</label>
                    <textarea type="text" name="description" id="id_description">{% if form.description.value %}{{ form.description.value }}{% endif %}
                    </textarea>
            </div>

            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <label for="id_image_old">Изображение образца:</label>
                        <div class="media" id="id_image_old">
                            <img class="ui medium image" src="{{ object.get_image}}">
                        </div>
                    </div>

                    <div class="field">
                        <label for="id_image">Загрузить новое изображение</label>
                        <div class="ui action input">
                            <input type="text" placeholder="Нажмите для выбора файла" readonly>
                            <input type="file" name="image" id="id_image" style="display: none;">
                            <div class="ui icon button">
                                <i class="attach icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="ui dividing header">Материал и тип образца</h3>
        <div class="ui visible info message">
            <p>Материал и тип образца можно выбрать из имеющихся в базе, либо создать новый!</p>
        </div>

        <div class="ui success message" id="id_message_material_success">
            <i class="close icon"></i>
            <div class="header">Успешно.</div>
            <p>Новый материал добавлен в базу!</p>
        </div>
        <div class="two fields" id="id_block_material">
            {% include 'sample/material/material_dropdown.html' with material=form.sample_material sample=sample %}
        </div>

        <div class="ui success message" id="id_message_type_success">
            <i class="close icon"></i>
            <div class="header">Успешно.</div>
            <p>Новый тип образца добавлен в базу!</p>
        </div>
        <div class="two fields" id="id_block_type">
            {% include 'sample/type/type_dropdown.html'  with type=form.sample_type sample=sample %}
        </div>

        <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <button type="submit" class="ui button orange">Сохранить</button>
                <div id="id_delete_sample" class='ui red button'>Удалить</div>
            </div>
        </div>

</div>

</form>

<div class="ui modal delete sample">
  <i class="close icon"></i>
  <div class="header">
    Удалить образец
      {% if sample.sample_material.name %}
            {{ sample.sample_material.name }}
            {% endif %}
            {% if sample.sample_material.type %}
                {{ sample.sample_material.type }}
            {% endif %}
            {% if sample.modification.method %}
                {{ sample.modification.method }}
            {% endif %}
            {% if sample.marking %}
                {{ sample.marking }}
            {% endif %}
  </div>
  <div class="content">
    <div class="description">
      <p>Вы уверены что хотите удалить этот образец?</p>
    </div>
  </div>
  <div class="actions">
      <form method="post" action="{% url 'sample:delete' sample.pk %}">
      {% csrf_token %}
      <div class="ui aligned grid">
            <div class="right aligned sixteen wide column">
                <div class="ui negative button">
                    Нет
                </div>
                <button type="submit" class="ui positive button right labeled icon">
                    Да
                <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>

$('#id_delete_sample').on('click', function () {
    $('.ui.modal.delete.sample').
        modal('show');
});

$('.ui.form')
    .form({
        on: 'blur',
        inline : true,
        fields: {
            depth_coating: {
                identifier: 'depth_coating',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            hardness_coating: {
                identifier: 'hardness_coating',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            roughness: {
                identifier: 'roughness',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            sub_hardness: {
                identifier: 'sub_hardness',
                rules: [
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            weight: {
                identifier: 'weight',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле для заполнения!'
                    },
                    {
                        type: 'number',
                        prompt: 'Это числовая характеристика! Например: 0.234'
                    },
                ]
            },
            sample_material: {
                identifier: 'sample_material',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле! Выберете необходимый материал'
                    },
                ]
            },
            sample_type: {
                identifier: 'sample_type',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Обязательное поле! Выберете необходимый тип'
                    },
                ]
            },
        }
    })

$("input:text").click(function() {
  $(this).parent().find("input:file").click();
});

$('input:file', '.ui.action.input')
  .on('change', function(e) {
    let name = e.target.files[0].name;
    $('input:text', $(e.target).parent()).val(name);
  });

$('.message .close')
    .on('click', function(){
        $(this)
        .closest('.message')
        .transition('fade')
    });

    $('#id_calendar')
    .calendar({
        type: 'date',
        centuryBreak: 0,
        formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        return year + '-' + month + '-' + day;
      }
    }
    });
</script>
{% endblock %}

