{% extends 'index.html' %}

{% block title %}
    Sample
{% endblock %}

{% block search %}
    {% include 'sample/includes/search.html' %}
{% endblock %}

{% block content %}
    {% include 'sample/includes/table.html' %}

    <div class="ui orange segment" id="segment_card_id">
    <h3 class="ui header">Таблица выбранных образцов</h3>
        <br>
        <div class="sixteen wide column">
                <div class="select table">
                    <table class="ui celled striped table green compact selectable" style="width:100%" id="sample_table_select">
                        <thead>
                        <tr>
                            <th>Материал</th>
                            <th>Способ упрочнения</th>
                            <th>Параметры воздействия</th>
                            <th>Дата упрочнения</th>
                            <th>Толщина покрытия</th>
                            <th>Шероховатость поверхности</th>
                            <th>Твердость покрытия</th>
                            <th>Состав покрытия</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const select_sample = [];

    function change_select_sample(id){
        const index = select_sample.indexOf(id);
        if (index > -1){
            select_sample.splice(index, 1);
        }
        else{
            select_sample.push(id);
        }
    }

    {#function ajax_get_detail_sample(sample_id){#}
    {#    $.ajax({#}
    {#        type: 'GET',#}
    {#        url: '/sample/detail/' + sample_id,#}
    {#        success: function (response) {#}
    {#            $(response)#}
    {#            .modal('show');#}
    {#        }#}
    {#    });#}
    {#}#}


</script>

{% endblock %}