{% extends 'index.html' %}

{% block content %}
<form method="post" action="{% url 'sample:create' %}" class="ui form" style="margin-top: 55px;" enctype="multipart/form-data">
{% csrf_token %}

    <div class="ui orange segment" id="segment_create_sample">
        <h3 class="ui dividing header">Информация по упрочнению</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="id_method">Способ</label>
                      <input type="text" placeholder="Cпособ упрочнения" name="method" id="id_method">
                </div>

                <div class="field">
                    <label for="id_exp_param">Параметры</label>
                    <div class="ui input">
                      <input type="text" placeholder="Параметры упрочнения" name="exp_param" id="id_exp_param"
                      >
                    </div>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label for="id_depth_coating">Толщина</label>
                    <div class="ui input">
                      <input type="number" step="0.01" placeholder="Толщина упрочнения" name="depth_coating" id="id_depth_coating"
                      >
                    </div>
                </div>

                <div class="field">
                    <label for="id_hardness_coating">Твердость</label>
                    <div class="ui input">
                      <input type="number" step="0.01" placeholder="Твердость упрочнения" name="hardness_coating" id="id_hardness_coating"
                      >
                    </div>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                     <label for="id_date_proc_streng">Дата процесса</label>
                      <div class="ui calendar" id="id_calendar">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" placeholder="Дата процесса упрочнения" name="date_proc_streng" id="id_date_proc_streng">
                        </div>
                      </div>
                </div>
            </div>

        </div>

        <h3 class="ui dividing header">Информация по образцу</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="id_weight">Первоначальная масса</label>
                    <div class="ui input">
                      <input type="number" step="0.01" placeholder="Первоначальная масса образца" name="weight" id="id_weight"
                      >
                    </div>
                </div>
            </div>
        </div>

        <h3 class="ui dividing header">Дополнительная информация</h3>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="id_roughness">Шероховатость поверхности</label>
                    <div class="ui input">
                      <input type="number" step="0.01" placeholder="Шероховатость поверхности" name="roughness" id="id_roughness"
                      >
                    </div>
                </div>

                <div class="field">
                    <label for="id_sub_hardness">Твердость подложки</label>
                    <div class="ui input">
                      <input type="number" step="0.01" placeholder="Твердость подложки" name="sub_hardness" id="id_sub_hardness"
                      >
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="id_organization">Организация которая провела упрочнение</label>
                <div class="ui input">
                    <input type="text" placeholder="Организация" name="organization" id="id_organization"
                    >
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label for="id_image">Изображение образца</label>
                    <div class="ui action input">
                        <input type="text" placeholder="Нажмите для выбора файла" readonly>
                        <input type="file" name="image" id="id_image" style="display: none;">
                        <div class="ui icon button">
                            <i class="attach icon"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <h3 class="ui dividing header">Материал и тип образца</h3>
        <div class="ui visible info message">
            <p>Материал и тип образца можно выбрать из имеющихся в базе, либо создать новый!</p>
        </div>

        <div class="ui success message" id="id_message_material_success">
            <i class="close icon"></i>
            <div class="header">Успешно.</div>
            <p>Новый материал добавлен в базу!</p>
        </div>
        <div class="two fields" id="id_block_material">
            {% include 'sample/material/material_dropdown.html' with material=form.sample_material only %}
        </div>

        <div class="ui success message" id="id_message_type_success">
            <i class="close icon"></i>
            <div class="header">Успешно.</div>
            <p>Новый тип образца добавлен в базу!</p>
        </div>
        <div class="two fields" id="id_block_type">
            {% include 'sample/type/type_dropdown.html'  with type=form.sample_type only %}
        </div>

        <button type="submit" class="ui button orange">Сохранить</button>

</div>

</form>

{%  endblock %}

{% block scripts %}
<script>

$("input:text").click(function() {
  $(this).parent().find("input:file").click();
});

$('input:file', '.ui.action.input')
  .on('change', function(e) {
    let name = e.target.files[0].name;
    $('input:text', $(e.target).parent()).val(name);
  });

    $('.message .close')
    .on('click', function(){
        $(this)
        .closest('.message')
        .transition('fade')
    });

$('#id_calendar')
    .calendar({
        type: 'date',
        centuryBreak: 0,
        formatter: {
      date: function (date, settings) {
        if (!date) return '';
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        return year + '-' + month + '-' + day;
      }
    }
    });

</script>

{% endblock %}

{# label = for=id, input = type, name, id #}