<div class="ui orange segment" id="form_search" style="margin-top: 3%;">

    <h3 class="ui header">Выберите параметры поиска</h3>
    <h4 class="ui dividing header">Данные базы данных</h4>
    <div class="ui form">

        <div class="fields three">
            <div class="field">
                <label>Дата испытаний</label>
                <div class="ui fluid multiple search normal selection dropdown" name="date_trials">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in date_trials %}
                            {% if name %}
                                <div class="item" data-value="{{ name|date:'Y-m-d' }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Маркировка образца</label>
                <div class="ui fluid multiple search normal selection dropdown" name="sample__marking">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in marking %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}">
                                    {{ name }}
                                </div>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Тип образца</label>
                <div class="ui fluid multiple search normal selection dropdown" name="sample__sample_type__name">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in type %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fields three">
            <div class="field">
                <label>Способ упрочнения</label>
                <div class="ui fluid multiple search normal selection dropdown" name="sample__method">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберете значение</div>
                    <div class="menu">
                        {% for name in method %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}">
                                    {{ name }}
                                </div>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Организация, выполняющая упрочнение</label>
                <div class="ui fluid multiple search normal selection dropdown" name="sample__organization">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберете значение</div>
                    <div class="menu">
                        {% for name in organization %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Материал образца</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui fluid multiple search normal selection dropdown" name="sample__sample_material__name">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Имя</div>
                            <div class="menu">
                                {% for name in material_name %}
                                    {% if name %}
                                        <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                            {{ name }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid multiple search normal selection dropdown" name="sample__sample_material__type">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Тип</div>
                            <div class="menu">
                                {% for name in material_type %}
                                    {% if name %}
                                        <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                            {{ name }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fields three">
            <div class="field">
                <label>Угол соударения</label>
                <div class="ui fluid multiple search normal selection dropdown" name="corner_collision">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in corner_collision %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Размер частиц</label>
                <div class="ui fluid multiple search normal selection dropdown" name="size_particle">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in size_particle %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Скорость соударения</label>
                <div class="ui fluid multiple search normal selection dropdown" name="speed_collision">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Выберите значение</div>
                    <div class="menu">
                        {% for name in speed_collision %}
                            {% if name %}
                                <div class="item" data-value="{{ name }}" data-text="{{ name }}">
                                    {{ name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>




    <h4 class="ui dividing header">Дополнительные фильтры</h4>
            <div class="field">
                <div class="ui labeled icon top left pointing dropdown button" name="date">
                  <i class="filter icon"></i>
                  <span class="text">По дате</span>
                  <div class="menu">
                    <div class="item" data-value="7">
                      <i class="olive circle icon"></i>
                      За неделю
                    </div>
                    <div class="item" data-value="30">
                      <i class="violet circle icon"></i>
                      За месяц
                    </div>
                    <div class="item" data-value="365">
                      <i class="orange circle icon"></i>
                      За год
                    </div>
                    <div class="item" data-value="all">
                      <i class="green circle icon"></i>
                      За все время
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>


{% load static %}

<script src="{% static 'js/block_search.js' %}"></script>

<script>
    change_add_dropdown('trials');
    change_dropdown('trials');
</script>
