<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Fomantic-UI/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'Fomantic-UI/semantic.min.js' %}"></script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Введите имя и пароль для входа
      </div>
    </h2>
    <form action="{% url 'user:login' %}" method="post" class="ui large form">
        {% csrf_token %}
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" id="id_username" placeholder="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="id_password" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="ui fluid large green submit button">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
</body>
</html>

<script>
</script>