{% extends 'index.html' %}

{% block title %}
    Загрузка данных
{% endblock %}

{% block content %}
    <div class="ui orange segment" style="margin-top: 3%;">
    <form id="id_form_loading_data" method="post" action="{% url 'extra:data_loading' %}" class="ui form" style="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" three fields">
            <div class="field">
                <label for="id_file">Файл</label>
                <div class="ui action input">
                    <input type="text" id="id_input_file" placeholder="Нажмите для выбора файла" readonly>
                    <input type="file" name="file" id="id_file" style="display: none;">
                    <div class="ui icon button" id="id_btn_file">
                        <i class="attach icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="id_image">Изображения</label>
                <div class="ui action input">
                    <input type="text" id="id_input_image" placeholder="Нажмите для выбора файла" readonly>
                    <input type="file" name="image" id="id_image" style="display: none;" multiple>
                    <div class="ui icon button" id="id_btn_image" data-content="Add users to your feed">
                        <i class="attach icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="ui button orange" >Загрузить</button>
    </form>
    </div>
    {% if error %}
        <div class="ui negative message visible">
          <div class="header">
            Файл для загрузки данных заполнен не верно!
          </div>
            <br>
           <div class="ui text">{{ title }} {{ value }}</div>
            <div class="ui text">Программное сообщение: {{ error }}</div>
        </div>
    {% endif %}
    {% if sample %}
        {% include 'extra/success_loading.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
    $('.ui.form')
    .form({
        on: 'blur',
        inline: true,
        fields: {
            file: {
                identifier: 'file',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Выберете файл!'
                    },
                ]
            },
        }
    });

    $("#id_input_file").click(function() {
        $(this).parent().find($("#id_file")).click();
    });

    $("#id_btn_file").click(function() {
        $(this).parent().find($("#id_file")).click();
    });


$('#id_file')
  .on('change', function(e) {
    let name = e.target.files[0].name;
    $('input:text', $(e.target).parent()).val(name);
    });

    $("#id_input_image").click(function() {
        $(this).parent().find($("#id_image")).click();
    });

    $("#id_btn_image").click(function() {
        $(this).parent().find($("#id_image")).click();
    });


$('#id_image')
  .on('change', function(e) {
      let col = e.target.files.length;
      $('input:text', $(e.target).parent()).val('Количество добавленных файлов: ' + col);
  });
    </script>
{% endblock %}