<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Fomantic-UI/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.semanticui.min.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
    <script src="{% static 'Fomantic-UI/semantic.min.js' %}"></script>

</head>
<body>

<div class="ui fixed inverted menu" style="height: 55px;">
    <div class="ui container">
        <a href="{% url 'sample:' %}" class="header item">
            Trials
        </a>
        <div class="ui simple dropdown item">
            Образец <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'sample:' %}" ><i class="red circular"></i>Информация</a>
                <a class="item" href="{% url 'sample:create' %}">Создать</a>
                <a class="item" href="#">Изменить</a>
                <a class="item" href="#">Удалить</a>
                <div class="divider"></div>
                <a class="item" href="#">Материал</a>
                <a class="item" href="#">Тип</a>
            </div>

        </div>
        <div class="ui simple dropdown item">
            Испытания <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'trial:list' %}">Информация</a>
                <a class="item" href="{% url 'trial:create' %}">Создать</a>
                <a class="item" href="#">Изменить</a>
                <a class="item" href="#">Удалить</a>
            </div>
        </div>
    </div>
</div>

{#    <div class="ui grid centered">#}

        <div class="fifteen wide column center">

            <div class="ui bottom attached active tab segment" data-tab="first">

                {% block search %}
                {% endblock %}

                {% block content %}
                {% endblock %}

            </div>

        </div>

{#    </div>#}

</body>
</html>

{% block scripts %}
<script>

    $('.menu .item')
      .tab();

</script>
{% endblock %}